<h1><%= @article.title %></h1>
<div>
  <%= image_tag @article.image %>
  <%= @article.content %>
</div>
<% if can? :update, @article and %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>
<% if can? :destroy, @article and %>
  <%= link_to 'Delete', article_path(@article), method: :delete, :data => {:confirm => 'Are you sure?'}%>
<% end %>